<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>

<body>
<h1 align="center">社員管理システム</h1>

<div id="typein" align="center" style="border:1px solid; width:450px; margin:0 auto; padding:24px 0 8px">

    <form action="#" th:action="@{user}" method="post" th:object="${form}">

        <table>
            <tr>
                <td>ユーザーID</td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="accountId" value="" size="40"
                           placeholder="Emailアドレスを入力してください"/>
                </td>
            </tr>
            <tr>
                <td>パスワード</td>
            </tr>
            <tr>
                <td>
                    <input type="password" name="password" value="" maxlength="6" size="40"/>
                </td>
            </tr>
        </table>

        <input type="submit" value="ログイン"
               class="loginbtn" style="margin-top: 24px"/>
        <br>

        <div>
            <p>[[${message}]]</p>
        </div>

        <!-- check -->
        <table>
            <tr style="color:red" th:inline="text" th:each="message:${inputCheckErrorList}">
                <td colspan="4">
                    [[${message.defaultMessage}]]
                </td>
            </tr>
        </table>

    </form>
</div>

<footer>
    <br>
    <br>
    <div style="width:600px; margin:0 auto">
        <h4 align="right">SoftUsing.co.jp</h4>
    </div>
</footer>

</body>
</html>